Question 1

In [262]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
import warnings
import time
warnings.filterwarnings("ignore")
import numpy as np

In [263]:
driver = webdriver.Chrome("chromedriver.exe")

In [264]:
time.sleep(2)

In [265]:
driver.get("https://www.naukri.com/")

In [266]:
#find element from the job search bar

search_by_field = driver.find_element_by_class_name("suggestor-input ")
search_by_field.send_keys("Data Analyst")
search_by_field = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_by_field.send_keys("Bangalore")

In [267]:
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

#### lets first create 4 empty lists. In these lists the data will be stored while scraping

In [268]:
job_titles = []
company_names = []
locations_list = []
experience_years = []

In [270]:
jobs = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
jobs[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="4633f4c205dba729ca45ed32f407a6b9", element="45f8ac4e-cb09-4c12-b6ed-a524ae288d5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4633f4c205dba729ca45ed32f407a6b9", element="a80a5306-5f1d-45d8-9b28-7206af03b625")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4633f4c205dba729ca45ed32f407a6b9", element="5161a3ae-d05a-4d4e-aade-7520be5ea226")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4633f4c205dba729ca45ed32f407a6b9", element="bb3d16ca-2ad3-4aaa-a805-512a5551202e")>]

In [271]:
for i in jobs:
    job_titles.append(i.text)

job_titles[0:4]

['Senior Data Analyst/ Business Analyst',
 'Sr Domain Expert -Data Analysts',
 'Senior Data Analyst',
 'Senior Data Analyst']

In [272]:
companies = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="4633f4c205dba729ca45ed32f407a6b9", element="5accc61d-c0af-44cf-8d14-37e69a0f7fe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4633f4c205dba729ca45ed32f407a6b9", element="942e4b4a-88a2-46e2-b170-84b3c972b76b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4633f4c205dba729ca45ed32f407a6b9", element="2b95c92b-49ec-464d-a26f-af988164373f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4633f4c205dba729ca45ed32f407a6b9", element="5a7a23a6-12c0-4d3d-8614-1dd264ea676f")>]

In [273]:
for i in companies:
    company_names.append(i.text)
    
company_names[0:4]

['Rupeek', 'Siemens', 'Walmart', 'LatentView']

In [274]:
years = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span[1]")
years[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="4633f4c205dba729ca45ed32f407a6b9", element="b5459c84-c44f-4899-bfa6-b60bc9537b97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4633f4c205dba729ca45ed32f407a6b9", element="61edabf9-eabe-4719-b741-2605d718cd2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4633f4c205dba729ca45ed32f407a6b9", element="9bf62c89-4a2e-4018-98ae-18caaa3cd78a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4633f4c205dba729ca45ed32f407a6b9", element="7c692a72-1a88-4015-a9b0-b53b9516bd90")>]

In [275]:
for i in years:
    experience_years.append(i.text)
    
experience_years[0:4]

['2-7 Yrs', '0-10 Yrs', '5-8 Yrs', '2-6 Yrs']

In [276]:
loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
loc[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="4633f4c205dba729ca45ed32f407a6b9", element="fc6dc6c0-ed61-4c80-85f3-c44b22863a66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4633f4c205dba729ca45ed32f407a6b9", element="27be5c5f-c781-48c3-a030-eaedac800582")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4633f4c205dba729ca45ed32f407a6b9", element="f5ddf622-dac8-4c8e-8873-94276c302cc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4633f4c205dba729ca45ed32f407a6b9", element="05a8a0ce-782d-4c21-9a3f-4f02193888ac")>]

In [277]:
for i in loc:
    locations_list.append(i.text)
    
locations_list[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru']

In [278]:
#Creating dataframe
jobs = pd.DataFrame()
jobs['Job Titles'] = job_titles[0:10]
jobs['Company Name'] = company_names[0:10]
jobs['Experience Required'] = experience_years[0:10]
jobs['Job Location'] = locations_list[0:10]

In [280]:
print("----------------------------------------------First 10 Jobs-----------------------------------------")
jobs

----------------------------------------------First 10 Jobs-----------------------------------------

,Job Titles,Company Name,Experience Required,Job Location
0,Senior Data Analyst/ Business Analyst,Rupeek,2-7 Yrs,Bangalore/Bengaluru
1,Sr Domain Expert -Data Analysts,Siemens,0-10 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst,Walmart,5-8 Yrs,Bangalore/Bengaluru
3,Senior Data Analyst,LatentView,2-6 Yrs,"Chennai, Bangalore/Bengaluru"
4,Senior Data Analyst,FINNOVATION TECH SOLUTIONS PRIVATE LIMITED,3-6 Yrs,Bangalore/Bengaluru(Old Madras Road)
5,Senior Data Analyst (Digital Services Analytics),Dell Technologies,1-6 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst,Cerner,8-12 Yrs,Bangalore/Bengaluru
7,Data Analyst,Myntra,1-3 Yrs,Bangalore/Bengaluru
8,Data Analyst,Enrich talents,0-4 Yrs,Bangalore/Bengaluru
9,Data Analyst - Platform & Security,National Geographic,4-6 Yrs,Bangalore/Bengaluru

In [281]:
driver.close()

####

Question 2

In [302]:
driver = webdriver.Chrome("chromedriver.exe")

In [303]:
time.sleep(2)

In [304]:
driver.get('https://www.naukri.com/')

In [305]:
#find element from the job search bar

search_by_field = driver.find_element_by_class_name("suggestor-input ")
search_by_field.send_keys("Data Scientist")
search_by_field = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_by_field.send_keys("Bangalore")

In [306]:
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [307]:
job_titles1 = []
company_names1 = []
locations_list1 = []
experience_years1 = []

In [308]:
jobs = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#jobs[0:4]

In [309]:
for i in jobs:
    job_titles1.append(i.text)

#job_titles1[0:4]

In [310]:
companies = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#companies[0:4]

In [311]:
for i in companies:
    company_names1.append(i.text)
#company_names[0:4]

In [312]:
years = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span[1]")
#years[0:4]

In [313]:
for i in years:
    experience_years1.append(i.text)
#experience_years[0:4]

In [314]:
loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
#loc[0:4]

In [315]:
for i in loc:
    locations_list1.append(i.text)
#locations_list[0:4]

In [316]:
#Creating dataframe
jobs1 = pd.DataFrame()
jobs1['Job Titles'] = job_titles1[0:10]
jobs1['Company Name'] = company_names1[0:10]
jobs1['Experience Required'] = experience_years1[0:10]
jobs1['Job Location'] = locations_list1[0:10]

In [317]:
print("------------------------------------------------------First 10 Jobs----------------------------------------------")
jobs1

------------------------------------------------------First 10 Jobs----------------------------------------------

,Job Titles,Company Name,Experience Required,Job Location
0,Senior Data Scientist,GSK India,5-9 Yrs,Bangalore/Bengaluru
1,Data Scientist,Applied Materials,2-7 Yrs,Bangalore/Bengaluru
2,Manager - Data Scientist Job @ Applied Materia...,Applied Materials,10-15 Yrs,Bangalore/Bengaluru(Whitefield)
3,Analyst - Data Scientist,MilliporeSigma,2-7 Yrs,Bangalore/Bengaluru
4,Senior Data Scientist,Flipkart,5-8 Yrs,Bangalore/Bengaluru
5,Senior Data Scientist,GSK India,5-9 Yrs,Bangalore/Bengaluru
6,Data Scientist,Roposo,3-6 Yrs,Bangalore/Bengaluru
7,Data Scientist / Machine learning Engineer,Leading US MNC into Analytics,2-7 Yrs,"Bangalore/Bengaluru, Delhi / NCR"
8,Junior Data Scientist,Accenture,2-6 Yrs,Bangalore/Bengaluru
9,Data Analyst / Data Scientist,JK Technosoft,5-7 Yrs,"Noida, Hyderabad/Secunderabad, Bangalore/Benga..."

####

In [318]:
driver.close()

Question 3

In [145]:
job_titles3 = []
company_names3 = []
experience_years3 = []

In [146]:
driver3 = webdriver.Chrome()
time.sleep(2)

In [148]:
driver3.get("https://www.naukri.com/")

In [149]:
search_by_skills = driver3.find_element_by_xpath("//div[@class='suggestor-box flex-row flex-wrap bottom ']")
time.sleep(2)
search_by_skills = driver3.find_element_by_class_name('suggestor-input ')
time.sleep(2)
search_by_skills.send_keys("Data Scientist")
time.sleep(2)
search_by_skills.send_keys(Keys.ENTER)

In [150]:
# filtering salary range '3-6 Lakhs'


search_salary_range = driver3.find_element_by_xpath("//span[@title='3-6 Lakhs']")
search_salary_range.click()

In [151]:
# filter job location  'Delhi / NCR'


search_location = driver3.find_element_by_xpath("//span[@title='Delhi / NCR']")
search_location.click()

In [152]:
designations = driver3.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in designations:
    job_titles3.append(i.text)

In [153]:
company_name = driver3.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_name:
    company_names3.append(i.text)

In [154]:
experience = driver3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    experience_years3.append(i.text)

In [155]:
jobs3 = pd.DataFrame()
jobs3['Designations']= job_titles3[0:10]
jobs3['Companies'] = company_names3[0:10]
jobs3['Experience required'] = experience_years3[0:10]

In [156]:
print("----------------------------------------First 10 Jobs----------------------------------------------")
jobs3

----------------------------------------First 10 Jobs----------------------------------------------

,Designations,Companies,Experience required
0,Opening For Data Scientist,Care Health Insurance,1-5 Yrs
1,Hiring For Senior Data Scientist-Noida,Lumiq.ai,2-6 Yrs
2,Lead Data Scientist,KIA INDIA PRIVATE LIMITED,7-10 Yrs
3,"Data Scientist/ Machine Learning, 2022 Passout...",Creative Hands HR Consultancy,0-4 Yrs
4,Data Scientist (freelance),2Coms,2-7 Yrs
5,Senior Data Scientist,Optum,2-7 Yrs
6,Data Scientist,BlackBuck,3-7 Yrs
7,Data Scientist,Boston Consulting Group,2-5 Yrs
8,Urgent Requirement || Data Scientist || Noida,HCL Technologies,3-8 Yrs
9,AM Data Scientist - Goods & Service Tax Networ...,NISG (National Institute for Smart Government),3-8 Yrs

In [320]:
#driver3.close()

####

Question 4

In [172]:
driver4 = webdriver.Chrome()

In [173]:
driver4.get('https://www.flipkart.com/')
time.sleep(2)
driver4.maximize_window()

In [174]:
search4 = driver4.find_element_by_xpath("//input[@class='_3704LK']")
search4.send_keys("sunglasses")
time.sleep(2)
search4.send_keys(Keys.ENTER)

In [202]:
#creating list
brand_names = []
product_des = []
sunglasses = []

In [215]:
for page in range(1,4,1):
    
    page_url4 = "https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=" + str(page)
    driver4.get(page_url4)
    
    #creating iterables
    
    brand = driver4.find_elements_by_xpath("//div[@class='_2WkVRV']")
    product_desc = driver4.find_elements_by_xpath("//a[@class='IRpwTa']")
    glasses_price = driver4.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for brand, product_desc, glasses_price in zip(brand, product_desc, glasses_price):
        brand_names.append(brand.text)
        product_des.append(product_desc.text)
        sunglasses.append(glasses_price.text)
        
        
#print(len(brand_names),len(product_des), len(sunglasses))
#120 120 120

In [216]:
Sunglasses = pd.DataFrame()
Sunglasses['Brand Names'] = brand_names[0:100]
Sunglasses['Product Description'] = product_des[0:100]
Sunglasses['Price'] = sunglasses[0:100]

In [217]:
pd.set_option("display.max_rows", None)
print("----------------------------------------100 Sunglasses----------------------------------------------")
Sunglasses

----------------------------------------First 10 Jobs----------------------------------------------

,Brand Names,Product Description,Price
0,Elligator,UV Protection Round Sunglasses (54),₹295
1,SRPM,UV Protection Wayfarer Sunglasses (50),₹249
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759
3,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹265
4,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹185
5,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹273
6,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),₹275
7,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹679
8,Elligator,UV Protection Round Sunglasses (53),₹229
9,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),₹199
10,PIRASO,UV Protection Aviator Sunglasses (54),₹249
11,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹299
12,PIRASO,UV Protection Wayfarer Sunglasses (32),₹225
13,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹304
14,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹209
15,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹269
16,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹329
17,GANSTA,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹198
18,PIRASO,UV Protection Aviator Sunglasses (54),₹225
19,kingsunglasses,UV Protection Round Sunglasses (54),₹214
20,PIRASO,UV Protection Aviator Sunglasses (58),₹399
21,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹249
22,PIRASO,UV Protection Aviator Sunglasses (54),₹225
23,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759
24,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹339
25,SRPM,"Others Wayfarer, Retro Square Sunglasses (50)",₹239
26,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹229
27,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹203
28,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹474
29,SRPM,UV Protection Wayfarer Sunglasses (53),₹246
30,PIRASO,UV Protection Over-sized Sunglasses (65),₹399
31,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹307
32,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (53)",₹299
33,elegante,"Polarized, Riding Glasses, Night Vision Sports...",₹499
34,kingsunglasses,"UV Protection, Night Vision Wayfarer Sunglasse...",₹299
35,hipe,"Mirrored, UV Protection, Gradient Round Sungla...",₹170
36,hipe,"UV Protection, Gradient, Mirrored, Riding Glas...",₹188
37,Elligator,"Others Cat-eye, Retro Square, Wayfarer Sunglas...",₹236
38,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹210
39,SRPM,UV Protection Wayfarer Sunglasses (54),₹197
40,SRPM,UV Protection Wayfarer Sunglasses (54),₹197
41,New Specs,UV Protection Round Sunglasses (Free Size),₹264
42,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",₹259
43,Singco India,"Riding Glasses, UV Protection, Others Aviator ...",₹208
44,ROYAL SON,"UV Protection Rectangular, Retro Square Sungla...",₹474
45,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹379
46,Fastrack,UV Protection Shield Sunglasses (Free Size),₹809
47,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799
48,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹799
49,hipe,"Mirrored, Gradient, Riding Glasses Round Sungl...",₹170
50,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹474
51,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹269
52,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹269
53,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹458
54,Elligator,"UV Protection Retro Square, Aviator Sunglasses...",₹299
55,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...",₹276
56,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹679
57,PHENOMENAL,"UV Protection, Mirrored Clubmaster Sunglasses ...",₹369
58,Elligator,"UV Protection Retro Square, Round Sunglasses (54)",₹388
59,Fastrack,UV Protection Round Sunglasses (55),₹768
60,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹189
61,NuVew,UV Protection Sports Sunglasses (62),₹327
62,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹301
63,Fastrack,UV Protection Wayfarer Sunglasses (55),₹683
64,AISLIN,"UV Protection, Gradient Round, Cat-eye Sunglas...",₹458
65,Fastrack,UV Protection Aviator Sunglasses (57),₹639
66,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹639
67,Rich Club,"UV Protection, Mirrored, Gradient Round Sungla...",₹253
68,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Ro...",₹179
69,NuVew,UV Protection Sports Sunglasses (62),₹327
70,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹379
71,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹664
72,kingsunglasses,"UV Protection, Mirrored Round Sunglasses (Free...",₹265
73,GANSTA,UV Protection Aviator Sunglasses (57),₹220
74,hipe,Mirrored Wayfarer Sunglasses (55),₹177
75,GANSTA,"UV Protection, Gradient Clubmaster Sunglasses ...",₹149
76,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹320
77,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹304
78,ROZZETTA CRAFT,UV Protection Round Sunglasses (Free Size),₹398
79,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹679
80,kingsunglasses,"UV Protection, Others Round, Aviator Sunglasse...",₹214
81,hipe,UV Protection Sports Sunglasses (Free Size),₹258
82,kingsunglasses,"Mirrored, UV Protection Wayfarer, Rectangular ...",₹289
83,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379
84,SHAAH COLLECTIONS,UV Protection Rectangular Sunglasses (Free Size),₹169
85,NuVew,"UV Protection, Mirrored Sports Sunglasses (62)",₹327
86,Poloport,UV Protection Wayfarer Sunglasses (Free Size),₹249
87,Mi,Polarized Aviator Sunglasses (Free Size),₹939
88,Mi,Polarized Wayfarer Sunglasses (Free Size),₹789
89,Fastrack,UV Protection Oval Sunglasses (Free Size),"₹1,699"
90,kingscape,UV Protection Rectangular Sunglasses (Free Size),₹169
91,Elligator,UV Protection Aviator Sunglasses (55),₹359
92,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹342
93,Elligator,UV Protection Aviator Sunglasses (55),₹333
94,GANSTA,UV Protection Aviator Sunglasses (57),₹284
95,Elligator,UV Protection Wayfarer Sunglasses (53),₹259
96,Elligator,Mirrored Round Sunglasses (53),₹312
97,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,169"
98,Fastrack,UV Protection Wayfarer Sunglasses (52),₹679
99,Poloport,UV Protection Wayfarer Sunglasses (Free Size),₹331

In [218]:
driver4.close()

####

Question 5

In [231]:
driver5 = webdriver.Chrome()
driver5.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=2")
time.sleep(2)
driver5.maximize_window()

In [256]:
rating5 = []
rew = []
full_rew = []

In [257]:
for page5 in range(2,15,1):
    page_url5 = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page='+str(page5)
    driver5.get(page_url5)
    
    ratings_5 = driver5.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    review = driver5.find_elements_by_xpath("//p[@class='_2-N8zT']")
    full_review = driver5.find_elements_by_xpath("//div[@class='t-ZTKy']")
    
    for ratings_5, review, full_review in zip(ratings_5, review, full_review):
        rating5.append(ratings_5.text)
        rew.append(review.text)
        full_rew.append(full_review.text)
        
# print(len(rating5), len(rew), len(full_rew))
# 127 127 127

In [259]:
Customer_reviews = pd.DataFrame()
Customer_reviews['Ratings'] = rating5[:100]
Customer_reviews['Review Summary'] = rew[:100]
Customer_reviews['Full Review'] = full_rew[:100]

In [260]:
pd.set_option("display.max_rows", None)
print("---------------------------------------- 100 Review on I phone 11 ----------------------------------------------")
Customer_reviews

---------------------------------------- 100 Review on I phone 11 ----------------------------------------------

,Ratings,Review Summary,Full Review
0,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
1,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
2,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
3,5,Highly recommended,It's my first time to use iOS phone and I am l...
4,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
5,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
6,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
7,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
8,5,Classy product,Totally in love with this ❤ the camera quality...
9,5,Worth every penny,It’s been almost a month since I have been usi...
10,5,Terrific,Really worth of money. i just love it. It is t...
11,5,Wonderful,This is my first ever I phone. Before this I w...
12,4,Nice product,Awesome Phone. Slightly high price but worth. ...
13,5,Classy product,Superb Product !!!\nA big and worthy upgrade f...
14,5,Perfect product!,"Battery backup is extraordinary, camera is dec..."
15,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."
16,5,Perfect product!,It is just awesome mobile for this price from ...
17,4,Good choice,Looking so good 👍 😍 super 👌 stylish 😎 phone\nC...
18,5,Great product,Again back to apple iphone after a gap of 2-3 ...
19,5,Must buy!,It’s an amazing product from apple and the cam...
20,5,Perfect product!,After 1 month use I found camera quality best ...
21,5,Simply awesome,It's very high performances devise i am like t...
22,5,Wonderful,I just directly switch from iphone 6s to iphon...
23,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
24,5,Great product,Well you all know the specifications . One of ...
25,5,Terrific purchase,The built quality is not very premium.\nThe ba...
26,5,Mind-blowing purchase,This will help you more. See if you are planni...
27,5,Excellent,Amazing camera and feel super machine I am not...
28,5,Simply awesome,Really good actually this is my first apple pr...
29,4,Good quality product,it is very good at performance. Camera is best...
30,5,Very poor,Reviewing again after 5 months. At the beginni...
31,5,Perfect product!,"In love with this iphone great performance,cam..."
32,5,Classy product,We are on apple ecosystem for almost eight yea...
33,5,Fabulous!,Everything is perfect pictures come out so cle...
34,5,Must buy!,Best Apple iPhone that i have bought at a very...
35,5,Fabulous!,I can say I'm damn impressed with iPhone 11. A...
36,5,Mind-blowing purchase,"Best Quality Product OF iPhone Series , Sound ..."
37,5,Wonderful,Superfast delivery by Flipkart. Thanks.\n\n1. ...
38,4,Must buy!,I rate this product 5* as it has got amazing u...
39,5,Wonderful,Super and marvellous phone look very cute and ...
40,5,Classy product,Well while switching from android to iOS the f...
41,5,Just wow!,Best in class. Battery backup is good especial...
42,5,Awesome,Very excited to have this phone. This phone ha...
43,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
44,5,Terrific purchase,Its Very awesome product working and good came...
45,5,Awesome,I am using this phone for 5 days and its one o...
46,5,Classy product,Best and amazing product.....phone looks so pr...
47,5,Brilliant,Excellent camera and display touching very nic...
48,5,Terrific,I got this beast today. And I must say the pic...
49,5,Perfect product!,Awesome purchase. Amazing phone with good batt...
50,5,Awesome,"Always love the apple products, upgraded from ..."
51,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
52,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
53,5,Very poor,"Please DONT buy from here,\n\nI purchased Appl..."
54,5,Fabulous!,awesome phone to have. it has got many smart f...
55,5,Excellent,Its a fabulous mobile look awesome performance...
56,4,Must buy!,Dear friends... I want to share my experience ...
57,5,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
58,5,Brilliant,Amazing phone and on great deal I received wit...
59,5,Terrific purchase,finally an iPhone with very nice battery backu...
60,4,Good quality product,I'm switching this phone to oppo reno 10x zoom...
61,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
62,5,Perfect product!,Worth the money’ starting first from its perfo...
63,5,Awesome,I dreamt about this day from a long time.... G...
64,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
65,5,Worthless,Phone is awesome no doubt. But Camera & Displa...
66,5,Super!,Did an upgrade from 6s plus to iphone 11.\nAo ...
67,5,Super!,This is my first ever iPhone.\nAnd I truly don...
68,5,Awesome,Can’t beat the software and hardware integrati...
69,5,Just wow!,Great iphone.\nI am writing this review after ...
70,5,Mind-blowing purchase,"beautiful shining, battery performance is too ..."
71,5,Classy product,Gifted my man on his 30th birthday 🎂 He loves ...
72,5,Worth every penny,Here is the thing\n\nThe only reason why you s...
73,5,Excellent,It was amazing experience for me. Honestly i a...
74,5,Just wow!,"Not mere a phone , Its more than that for fun ..."
75,5,Wonderful,"Ok, so after almost 3 years I am again back in..."
76,4,Nice product,If you are looking for a premium phone under 5...
77,5,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...
78,5,Terrific,"I bought iPhone 11 On March 2021, And I am Wri..."
79,5,Excellent,Just go for it.\nThis phone is really amazing....
80,5,Brilliant,A wort full value for money decision it’s . Si...
81,5,Excellent,A perfect phone and a good battery super camer...
82,4,Pretty good,I've used this phone for over a month now and ...
83,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
84,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
85,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
86,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
87,5,Best in the market!,Don’t expect much from front camera… especiall...
88,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
89,5,Awesome,The phone is completely good\nAs far as camera...
90,3,Decent product,Everything u ll like it when u use this iPhone...
91,5,Wonderful,Nice value for money good and best price I pho...
92,5,Fabulous!,Gift this to your loved ones fabulous product ...
93,5,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...
94,3,Does the job,phone is good but in display is 720p lcd in th...
95,5,Worth every penny,iPhone is delivered on time. Display is great ...
96,5,Best in the market!,Really very nice... my dad gifted me really I ...
97,5,Classy product,I got this phone for good price hence 5 star f...
98,4,Wonderful,I genuinely liked it. One of the best mobile p...
99,4,Good quality product,"Awesome camera, smooth and fast UI, display is..."

In [261]:
driver5.close()

####

Question 6

In [235]:
driver6 = webdriver.Chrome()
time.sleep(2)
driver6.get('https://www.flipkart.com/')
driver6.maximize_window()
time.sleep(2)

In [236]:
search_sneakers = driver6.find_element_by_xpath("//input[@class='_3704LK']")
search_sneakers.send_keys("sneakers")
time.sleep(2)
search_sneakers.send_keys(Keys.ENTER)

In [237]:
#creating list
brand_sneakers = []
product_des_sneakers = []
sneakers_price = []

In [238]:
for page6 in range(2,6,1):
    page6_url = "https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+ str(page6)
    driver6.get(page6_url)
    
    #creating iterables
    
    brandsneakers = driver6.find_elements_by_xpath("//div[@class='_2WkVRV']")
    product_desc_sneakers = driver6.find_elements_by_xpath("//a[@class='IRpwTa']")
    sneaker_prices = driver6.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for brandsneakers, product_desc_sneakers, sneaker_prices in zip(brandsneakers, product_desc_sneakers, sneaker_prices):
        brand_sneakers.append(brandsneakers.text)
        product_des_sneakers.append(product_desc_sneakers.text)
        sneakers_price.append(sneaker_prices.text)
        
#print(len(brand_sneakers),len(product_des_sneakers), len(sneakers_price))
#120 120 120

In [231]:
Sneakers = pd.DataFrame()
Sneakers['Brand Names'] = brand_sneakers[0:100]
Sneakers['Product Description'] = product_des_sneakers[0:100]
Sneakers['Price'] = sneakers_price[0:100]

In [235]:
pd.set_option("display.max_rows", None)
print("---------------------------------------- 100 Sneakers----------------------------------------------")
Sneakers

---------------------------------------- 100 Sneakers----------------------------------------------

,Brand Names,Product Description,Price
0,World Wear Footwear,Latest Collection-1227 Stylish Casual Sports S...,₹209
1,Rzisbo,Sneakers For Men,₹549
2,Elevarse,Sneakers For Men,₹308
3,Robbie jones,Sneakers For Men,₹424
4,kardam&sons,Sneakers For Men,₹399
5,Arohi,Sneakers For Men,₹379
6,Chevit,CH-527 Trendy Star Perfect Casuals Sneakers Fo...,₹204
7,DUNKASTON,Men's Sneakers Fashion Lightweight Running Sho...,₹399
8,KNIGHT WALKERS,Sneakers For Men,₹598
9,Chevit,Men's Sneakers Fashion Lightweight Running Sho...,₹262
10,Echor,"white Casual shoes,Sneakers for men's Sneakers...",₹489
11,Magnolia,Stylish & Trending Outdoor Walking Comfortable...,₹351
12,corsac,Latest Collection Black-349 Trendy & Stylish C...,₹499
13,Echor,Stylish Party Wear Fashionable Lightweight New...,₹489
14,Xtoon,Shoes in Black Color Party wear/Outdoor/Casual...,₹449
15,WHITE WALKERS,"Stylish Comfortable Lightweight, Breathable Wa...",₹549
16,Stefano Rads,AART CORE Sneaker For Men,₹192
17,World Wear Footwear,Sneakers For Men,₹199
18,OUTALYFE,Men Casual Shoe New Trend With Fashion Panda D...,₹435
19,T-ROCK,Stylish White Casual Sneakers shoes Men and Bo...,₹249
20,EZDEZARIO,Exclusive Affordable Collection of Trendy & St...,₹399
21,BIRDE,Sneakers For Men,₹289
22,LEVI'S,Trendy Sneakers For Men,₹909
23,MAFLO,Sneakers For Men,₹449
24,LuvShus,"Stylish Comfortable Lightweight, Breathable Wa...",₹354
25,T-ROCK,Sports Running Shoes Sneakers For Men,₹399
26,Hida,Sneakers For Men,₹566
27,Zsyto,Casual Sneakers White Shoes For Men Sneakers F...,₹298
28,World Wear Footwear,Fashionable sneaker shoes Sneakers For Men,₹249
29,RED TAPE,Comfortable & Ultra Light Weight Sneaker Sneak...,"₹1,329"
30,LE GREEM,CR-1 Sneakers For Men,₹449
31,Chevit,"white Casual shoes,Sneakers for men's Sneakers...",₹159
32,HOTSTYLE,EXPLORE Sneakers For Men,₹217
33,Xtoon,Khalifa/Walking/Outdoor/Sneakers Sneakers For Men,₹448
34,CAMPUS,Sneakers For Men,₹997
35,CLYMB,Sneakers For Men,₹534
36,Chevit,Sports/Running/Training/Gym Sneakers For Men,₹159
37,Brainer,Casual Trendy Sneaker Casual Shoes For Men Sne...,₹399
38,HOTSTYLE,Foundational Leather Jack Purcell Gold Standar...,₹249
39,CLYMB,Combo Pack of 3 Casual Shoes (Sneakers Shoes) ...,₹220
40,KWIK FIT,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹399
41,Converse,Sneakers For Men,"₹1,569"
42,Chevit,Original Luxury Branded Fashionable Men's Casu...,₹583
43,Gentax,Men's Latest stylish casual fashion sneaker sh...,₹449
44,BRUTON,Sneakers For Men,₹151
45,DUNKASTON,Sneakers For Men,₹399
46,FEWEYU,"Stylish Comfortable Lightweight, Breathable Ca...",₹424
47,SPARX,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",₹799
48,Echor,True Black Shoe Sneakers For Men,₹489
49,Kzaara,luxury fashionable casual sneaker shoes Sneake...,₹209
50,Robbie jones,Stylish & Trending Outdoor Walking Comfortable...,₹424
51,Zixer,6616-ZF-BLACK-08 Sneakers For Men,₹549
52,BIRDE,Sneakers For Men,₹269
53,ASIAN,Sneakers For Men,₹498
54,Trendmode,Court Royale 2 Next Nature Sneakers For Men,₹209
55,Wildcraft,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹911
56,Overlap,all white heartbeat casual shoe Sneakers For Men,₹534
57,India hub,Fashionable sneaker shoes Sneakers For Men,₹374
58,BRUTON,Combo Pack Of 2 Latest Stylish Casual Shoes fo...,₹482
59,AMICO,Sneakers For Men,₹499
60,Feens,Comfortable & Ultra Light Weight Sneaker Sneak...,₹214
61,LE GREEM,Sneakers For Men,₹449
62,Gentax,Fashion Outdoor Canvas Casual Light Weight Lac...,₹449
63,Robbie jones,Latest Collection-1216 Stylish Casual Sports S...,₹424
64,RapidBox,Sneakers For Men,₹670
65,RODDICK SHOES,Sneakers For Men,₹430
66,World Wear Footwear,Men's Combo Pack of 02 Shoes for Men Casual Sn...,₹159
67,ROCKFIELD,Street Icon M Sneakers For Men,₹249
68,DUCATI,Puma Smash v2 L Sneakers For Men,"₹1,499"
69,SPARX,Sneakers For Men,₹799
70,GVSSHOES,Synthetic Leather Sneakers For Men,₹479
71,Chevit,Sneakers For Men Sneakers For Men,₹449
72,RapidBox,Sneakers For Men,₹670
73,HOCKWOOD,"Stylish Comfortable Lightweight, Breathable Wa...",₹695
74,ADIDAS,WATERPROOF-05cFULLWHITE Sneakers For Men,"₹1,857"
75,PUMA,White Sneaker For Men Sneakers For Men,"₹1,629"
76,Navtrend,Sneakers For Men,₹549
77,aadi,411 Casual Sneakers For Men,₹429
78,MILESWALKER,Stylish & Trending Outdoor Walking Comfortable...,₹289
79,STRANGER BROTHERS,Sneakers For Men,₹384
80,BIRDE,casual for men Sneakers For Men,₹289
81,ASIAN,Sneakers For Men,₹549
82,Numenzo,Puma Smash v2 L Sneakers For Men,₹429
83,Frencho,Original Luxury Branded Fashionable Men's Casu...,₹549
84,Gentax,Sneakers For Men,₹449
85,Numenzo,Summits - Brisbane Sneakers For Men,₹449
86,WHITE WALKERS,Casual Sneakrs For Men Sneakers For Men,₹549
87,Zsyto,Puma Rebound LayUp SL Sneakers For Men,₹425
88,bluemaker,SPORT COURT 92 Sneakers For Men,₹399
89,TR,Sneakers For Men,₹399
90,AMICO,Sneakers For Men,₹499
91,AMICO,Sneakers For Men,₹549
92,DUCATI,Sneakers For Men,"₹1,239"
93,ALAN COSTO,Men's Casual Shoes in White Color Walking Runn...,₹435
94,Kzaara,Sneakers For Men,₹249
95,Absolute comfort,Fashion Outdoor Canvas Casual Light Weight Lac...,₹167
96,RODDICK SHOES,Sneakers For Men,₹430
97,Robbie jones,494 Perfect Sports Shoes for Running Training ...,₹424
98,Chevit,"Casual , Partywear Sneakers Shoes For Men's An...",₹249
99,PUMA,"Stylish and Trendy New Design Lightweight,Casu...","₹1,749"

In [236]:
driver6.close()

####

Question 7

In [68]:
driver7 = webdriver.Chrome()
time.sleep(2)
driver7.get('https://www.myntra.com/shoes')
time.sleep(1)
driver7.maximize_window()

In [69]:
# As per question filter '7149 to Rs. 14099' is not available in site presently hence instead of this we are selecting 'Rs. 7187 to Rs. 14125' 

search_by_price = driver7.find_element_by_xpath("//label[text()='Rs. 7187 to Rs. 14125']").click()
time.sleep(2)

# filtering by color of shoes
search_by_color = driver7.find_element_by_xpath("//span[@data-colorhex='black']").click()
time.sleep(2)

In [202]:
shoe_brand = []
shoe_desc = []
shoe_price = []
get_price = []

In [203]:
for page in range(2,5,1):
    page7_url = "https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p="+str(page)+"&rf=Price%3A7187.0_14125.0_7187.0%20TO%2014125.0"
    driver7.get(page7_url)
    
    #creating iterables
    brand_shoe = driver7.find_elements_by_xpath("//h3[@class='product-brand']")
    desc_shoe = driver7.find_elements_by_xpath("//h4[@class='product-product']")
    price_shoe = driver7.find_elements_by_xpath("//div[@class='product-price']/span")
    
    
    for brand_shoe, desc_shoe, price_shoe in zip(brand_shoe, desc_shoe, price_shoe):
        shoe_brand.append(brand_shoe.text)
        shoe_desc.append(desc_shoe.text)
        get_price.append(price_shoe.text.replace('Rs.', ""))

In [209]:
for i in get_price:
            if i.startswith('('):
                continue
            else:
                shoe_price.append(i)

In [210]:
Shoes = pd.DataFrame()
Shoes["Brand Name"] = shoe_brand[:100]
Shoes["Description"] = shoe_desc[:100]
Shoes['Prices'] = shoe_price[:100]

In [212]:
pd.set_option("display.max_rows", None)
print("---------------------------------------- 100 Shoes----------------------------------")
Shoes

---------------------------------------- 100 Shoes----------------------------------

,Brand Name,Description,Prices
0,ADIDAS,Women KarlieKlossX9000 Running,13999
1,ADIDAS,Women Dropset Training Shoes,8449 12999
2,Saint G,Men Mid-Top Chelsea Boots,10500 10900
3,ROSSO BRUNELLO,Men Leather Formal Oxfords,10999
4,Saint G,Men Leather Chelsea Boots,10710 11900
5,Geox,Men Leather Driving Shoes,9499
6,Columbia,Women Trekking Shoes,8999
7,Birkenstock,Unisex Boston Super Grip Clogs,9290
8,Pavers England,Men Textured Leather Formal Slip-On Shoes,9999
9,ECCO,Leather Stiletto Pumps,9749 12999
10,DAVINCHI,Men Textured Formal Leather Loafers,8990
11,PUMA Motorsport,Unisex Porsche Legacy Sneakers,7999
12,Pavers England,Men Leather Driving Shoes,7499
13,Sole To Soul,High-Top Block Heeled Boots,7900
14,ALDO,Embellished Wedge Sandals,7999
15,ALDO,Leather Block Sandals,7999
16,Kenkoh,Women Open Toe Flats,8575
17,ALDO,Women Leather Loafers,7699 10999
18,MANGO,Embellish Mid-Top Heeled Boots,7990
19,Saint G,Women Leather Loafers,7505 9500
20,ADIDAS Originals,Men Solid Ozweego Sneakers,9349 10999
21,Onitsuka Tiger,Unisex Ok Basketball MT,7999
22,Cole Haan,Men GENERATION ZEROGRAND STITCHLITE,11999
23,J.FONTINI,Men Textured Leather Loafers,7990
24,J.FONTINI,Men Textured Leather Loafers,8490
25,Heel & Buckle London,Men Formal Leather Derby,7990
26,Puma,Women Eternity NITRO Shoes,9749 12999
27,ASICS,Women Running Shoes,7999
28,J.FONTINI,Men Solid Loafers,8990
29,Florsheim,Men Leather Formal Monks,9995
30,Geox,Women Leather Pumps,8999
31,Saint G,Women Leather Block Heels,8550 9500
32,J.FONTINI,Men Leather Formal Loafers,7490
33,Geox,Men Printed Slip-On Sneakers,10999
34,Columbia,Women REDMOND V2 TrekkingShoe,7999
35,J.FONTINI,Men Leather Formal Loafers,7490
36,DAVINCHI,Men Formal Leather Slip-Ons,8990
37,Columbia,PEAKFREAK OUTDRY Trekking Shoe,9999
38,DAVINCHI,Solid Slip On Shoes,7990
39,DAVINCHI,Ustraa black,8990
40,J.FONTINI,Men Textured Leather Formal Loafers,8990
41,J.FONTINI,Men Solid Leather Formal Loafers,7999
42,J.FONTINI,Men Black Leather Loafers,11999
43,DAVINCHI,Men Solid Leather Formal Derbys,12999
44,DAVINCHI,Men Textured Formal Leather Loafers,9999
45,Sole To Soul,Platform Peep Toes with Buckles,7999
46,Geox,Leather Platform Sandals,8075 9500
47,Royal Enfield,Cabo WP Riding Boots,7999
48,ASICS,Men Colourblocked PU Sneakers,8415 9900
49,ALDO,Leather Slim Heels,10400
50,ALDO,Wedge Sandals,9490
51,Columbia,Men SNOWTREKKER Trekking Shoes,11999
52,Puma,Women Magnify Nitro Running,12999
53,Bugatti,Leather Block Heel Sandals,8999
54,Puma,Women XT Training Sports Shoes,8999
55,Saint G,Women Leather Block Heels,7499
56,ASICS,Women Running Shoes,7999
57,Saint G,Leather Block Heels,7499
58,Kenkoh,Leather Flatform Sandals,7565 8900
59,Birkenstock,Wedge Sandals,12999
60,Cole Haan,Women Open Toe Flats,12990
61,Cole Haan,Women Sneakers,13990
62,Geox,Women Solid Leather Ballerinas,9999
63,Geox,Women Leather Heeled Loafers,9990
64,PUMA Motorsport,Unisex Mercedes F1 R-Cat,9990
65,PUMA Motorsport,Unisex Ferrari Neo Cat Sneaker,10999
66,PUMA Motorsport,Ferrari R-Cat Machina Sneakers,10999
67,Saint G,Woven Design Block Heels,9239 10499
68,Cole Haan,Women Leather Open Toe Flats,8029 10999
69,Heel & Buckle London,Men Suede Loafers,7999
70,Heel & Buckle London,Men Leather Sneakers,8399 13999
71,Puma,Men Running Shoes,12500
72,Geox,Men Slip-On Formal Moccasins,13990
73,Geox,Men Formal Derbys,10499 13999
74,ROSSO BRUNELLO,Men Solid Leather Formal Derbys,10110 11895
75,ALDO,Leather Block Pumps,9770 11495
76,EVADICT By Decathlon,Men Running Shoes,7990
77,TRIBAN By Decathlon,Unisex Training or Gym Shoes,10990
78,ASICS,Men Running Shoes,9999
79,ALDO,Women Ballerinas Flats,8499
80,Saint G,Men Solid Leather Formal Boots,7999
81,Heel & Buckle London,Men Textured Leather Formal Loafers,10990
82,ECCO,Women Textured Leather Sneakers,7199 7999
83,Nike,Men AIR MAX 90 Sneakers,11999
84,Nike,Men's Air Presto Sneakers,10999
85,J.FONTINI,Men Textured Leather Formal Monk Shoes,9749 12999
86,Geox,Women Leather Slip-On Sneakers,8999
87,FILA,Women Colourblocked Leather Sneakers,8799 10999
88,FILA,Women Leather Sneakers,9999
89,FILA,Women Leather Sneakers,7773 8449
90,Geox,Women Leather Slip-On Sneakers,8999
91,Puma,Muse X5 Crystal Galaxy Sneaker,9999
92,Kenkoh,Women Leather Open Toe Flats,7699 10999
93,Kenkoh,Women Open Toe Flats,8499
94,Nike,Men React Infinity 3 Running,7999
95,Nike,Women Air Max 2021 Sneakers,10999
96,ASICS,Women Woven Design PU Sneakers,11990
97,ADIDAS,Men Adizero Adios 6 Running,7999
98,Nike,Men React IR FK3 Running Shoes,11990
99,Nike,Men React Miler2 Running Shoes,11900

In [213]:
driver7.close()

####

Question 8

In [125]:
driver8 = webdriver.Chrome("chromedriver.exe")

In [126]:
driver8.get("https://www.amazon.in/")
time.sleep(1)

In [127]:
#searching laptops
search = driver8.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
time.sleep(2)
search.send_keys("laptops")
time.sleep(2)
search.send_keys(Keys.ENTER)

In [128]:
#searching i7 laptops by filtering
search_i7 = driver8.find_element_by_xpath("//span[text()='Intel Core i7']").click()

In [129]:
#searching i9 laptops by filtering
#search_i9 = driver8.find_element_by_xpath("//span[text()='Intel Core i9']").click()

In [130]:
#scraping name of the laptops
laptop_name = []

laptops = driver8.find_elements_by_xpath("//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']/span[1]")
for i in laptops:
    laptop_name.append(i.text)

In [131]:
# scraping prices of the laptops
prices = []

price = driver8.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in price:
    prices.append(i.text.replace(",",""))

In [132]:
# scraping ratings of the laptops
ratings = []
ratings_box = driver8.find_elements_by_xpath('.//div[@class="a-row a-size-small"]/span')
for i in ratings_box:
        ratings.append(i.get_attribute('aria-label'))
        if i.get_attribute('aria-label') == np.NaN:
            ratings.append('-')

In [141]:
laptop_details = pd.DataFrame()
laptop_details['Laptops'] = laptop_name[0:10]
laptop_details['Prices'] = prices[0:10]
laptop_details['Ratings'] = ratings[0:20:2]

In [143]:
print("----------------------------------------First 10 Laptops Details----------------------------------------------")
laptop_details

----------------------------------------First 10 Laptops Details----------------------------------------------

,Laptops,Prices,Ratings
0,LG Gram 14 inches Ultra-Light Intel Evo 11th G...,88499,4.4 out of 5 stars
1,LG Gram Intel Evo 11th Gen Core i7 17 inches U...,94819,4.5 out of 5 stars
2,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,86990,4.6 out of 5 stars
3,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",57490,4.5 out of 5 stars
4,"HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...",86990,5.0 out of 5 stars
5,LG Gram 14 inches Ultra-Light Intel Evo 11th G...,88499,4.4 out of 5 stars
6,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,81990,4.1 out of 5 stars
7,Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...,105990,4.4 out of 5 stars
8,Dell Alienware x17 R1 (2021) i7-11800H Gaming ...,325320,4.6 out of 5 stars
9,"Lenovo Yoga 7 Intel Evo Core i7 11th Gen 14"" F...",98592,4.0 out of 5 stars

In [144]:
driver8.close()

####

Question 9

In [2]:
driver9 = webdriver.Chrome()

In [3]:
driver9.get("https://www.ambitionbox.com/")

In [4]:
time.sleep(1)

In [5]:
jobs9 = driver9.find_element_by_xpath("//a[@class='link jobs']")
jobs9.click()

In [6]:
search9 = driver9.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")

In [7]:
search9.send_keys("Data Scientist", Keys.ENTER)

In [33]:
search9_by_locaton = driver9.find_element_by_xpath("//div[@title='Location']")

In [34]:
search9_by_locaton.click()

In [35]:
search9_location = driver9.find_element_by_xpath("//input[@placeholder='Search locations']")

In [36]:
search9_location.send_keys('Noida')

In [37]:
driver9.find_element_by_id("location_Noida").click()

In [55]:
#creating list to store data
designations_9 = []
companies_9 = []
experience_9 = []

In [56]:
designations9 = driver9.find_elements_by_xpath("//a[@class='title noclick']")

In [57]:
for i in designations9:
    designations_9.append(i.text)

In [58]:
companies9 = driver9.find_elements_by_xpath("//p[@class='company body-medium']")

In [59]:
for i in companies9:
    companies_9.append(i.text)

In [60]:
experience9 = driver9.find_elements_by_xpath("//div[@class='job-basic-info show-flex']//div[1]")

In [61]:
for i in experience9:
    experience_9.append(i.text)

In [66]:
jobs9 = pd.DataFrame()
jobs9['Designations'] = designations_9
jobs9['Company Names'] = companies_9
jobs9['Experience Required'] = experience_9[1:]

In [70]:
print("-----------------------------------------------First 10 Jobs----------------------------------------------")
jobs9

-----------------------------------------------First 10 Jobs----------------------------------------------

,Designations,Company Names,Experience Required
0,Data Scientist,GENPACT India Private Limited,7-12 Yrs
1,Senior Data Scientist,Optum Global Solutions (India) Private Limited,2-7 Yrs
2,Data Scientist with SAS,Tech Mahindra Ltd,3-6 Yrs
3,Hiring For Data Scientist + Python/R+ Predicti...,GENPACT India Private Limited,9-14 Yrs
4,Urgent Requirement || Data Scientist || Noida,HCL Technologies,3-8 Yrs
5,Director Data Science,Optum Global Solutions (India) Private Limited,15-18 Yrs
6,Data Scientist - Machine Learning (5-14 yrs),Zyoin,5-14 Yrs
7,Data Scientist- Fresher Opening - Newgen Softw...,Newgen Software Technologies Ltd.,0-2 Yrs
8,Senior Data Scientist,Pitney Bowes India Pvt Ltd,6-10 Yrs
9,Data Analyst / Data Scientist,JK Technosoft Ltd,5-7 Yrs

####

Question 10

In [321]:
company_names = []
based_on_salaries = []
med_salaries = []
min_salaries = []
max_salaries = []
avg_salaries = []

In [322]:
driver10 = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [323]:
driver10.get("https://www.ambitionbox.com/")

In [324]:
search_salaries = driver10.find_element_by_xpath("//a[@title='Company Salaries']")

In [325]:
search_salaries.click()

In [326]:
salaries_by_designation = driver10.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")

In [327]:
salaries_by_designation.send_keys("Data Scientist", Keys.ENTER)

In [332]:
salaries_by_designation.send_keys(Keys.ARROW_DOWN)
time.sleep(1)

salaries_by_designation.send_keys(Keys.ENTER)

In [333]:
company_name = driver10.find_elements_by_xpath("//a[@data-v-4043ed38]")

In [334]:
for i in company_name:
    company_names.append(i.text)

In [335]:
based_on_salary = driver10.find_elements_by_xpath("//span[@data-v-4043ed38]")

In [336]:
for i in based_on_salary:
    based_on_salaries.append(i.text)

In [337]:
med_salary = driver10.find_elements_by_xpath("//div[@class='value body-medium']")

In [338]:
for i in med_salary:
    med_salaries.append(i.text)

In [339]:
avg_salary = driver10.find_elements_by_xpath("//p[@class='averageCtc']")

In [340]:
for i in avg_salary:
    avg_salaries.append(i.text)

In [341]:
min_salaries = med_salaries[0::2]
max_salaries = med_salaries[1::2]

In [342]:
jobs_by_salaries = pd.DataFrame()
jobs_by_salaries['Company Names'] = company_names
jobs_by_salaries['Based on Salaries'] = based_on_salaries[::2]
jobs_by_salaries['Minimum Salaries'] = min_salaries
jobs_by_salaries['Average Salaries'] = avg_salaries
jobs_by_salaries['Maximum Salaries'] = max_salaries

In [343]:
print("----------------------First 10 Jobs based on salaries-----------------------------------------")
jobs_by_salaries

----------------------First 10 Jobs based on salaries-----------------------------------------

,Company Names,Based on Salaries,Minimum Salaries,Average Salaries,Maximum Salaries
0,Walmart,based on 11 salaries,₹ 25.0L,₹ 29.7L,₹ 35.0L
1,Ab Inbev,based on 31 salaries,₹ 15.0L,₹ 20.5L,₹ 25.5L
2,Reliance Jio,based on 10 salaries,₹ 5.6L,₹ 18.9L,₹ 26.2L
3,ZS,based on 15 salaries,₹ 9.8L,₹ 15.9L,₹ 20.0L
4,Optum,based on 28 salaries,₹ 11.0L,₹ 15.4L,₹ 22.4L
5,Fractal Analytics,based on 81 salaries,₹ 9.5L,₹ 15.1L,₹ 22.0L
6,Tiger Analytics,based on 46 salaries,₹ 9.0L,₹ 14.8L,₹ 20.0L
7,UnitedHealth,based on 53 salaries,₹ 8.3L,₹ 14.0L,₹ 20.5L
8,Verizon,based on 14 salaries,₹ 10.0L,₹ 12.7L,₹ 21.0L
9,Ganit Business Solutions,based on 13 salaries,₹ 8.5L,₹ 12.4L,₹ 15.0L

In [344]:
driver10.close()