#### We have to scrape at least 1500 rows of data. You can scrape more data as well, it’s up to you, 
More the data better the model
In this section you have to scrape the data of flights from different websites (yatra.com, 
skyscanner.com, official websites of airlines, etc). The number of columns for data doesn’t have 
limit, it’s up to you and your creativity. Generally, these columns areairline name, date of journey, 
source, destination, route, departure time, arrival time, duration, total stops and the target variable 
price. You can make changes to it, you can add or you can remove some columns, it completely
depends on the website from which you are fetching the data.

In [125]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
import warnings
import time
warnings.filterwarnings("ignore")
import numpy as np
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.chrome.options import Options
options = webdriver.ChromeOptions()
options. add_experimental_option("detach", True)

In [126]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)
driver.maximize_window()
url = 'https://www.skyscanner.com'
#url='https://www.sastasafar.com/'
driver.get(url)
time.sleep(5)

In [3]:
# filling arrival place

search = driver.find_elements_by_xpath("//span[@class = 'placeholder']")
#search[1].text
for i in search:
    if i.text == 'From':
        search_final = driver.find_element_by_xpath("//input[@name = 'origin']")
        search_final.send_keys("DEL")
        search_final.send_keys(Keys.ARROW_DOWN)
        search_final.send_keys(Keys.ENTER)

In [4]:
#filling destination place

search2 = driver.find_elements_by_xpath("//div[@class = 'formRow--item']")
#search2[2].text
for j in search2:
    if j.text == 'To':
        search_final2 = driver.find_element_by_xpath("//input[@name = 'destination']")
        search_final2.send_keys("BLR")
        search_final2.send_keys(Keys.ENTER)    
        search_final2.send_keys(Keys.ARROW_DOWN)
        search_final2.send_keys(Keys.ENTER)

In [5]:
# clicking on search button

click = driver.find_element_by_xpath("//button[@class = 'btn btn-danger  mt-0 btn-block bgshade-2 btn-lg font-weight-bold']")
#print(click.text)
click.click()

In [97]:
# scrolling page to the end

SCROLL_PAUSE_TIME = 0.5

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [95]:
#DateDay = driver.find_element_by_xpath("//div[@class = 'ml-auto mr-auto']")
DateDay =  '20 Jul, Wed'
DateDay

'20 Jul, Wed'

In [98]:
Price = []
Flightname = []   
Arrival = []
Destination = []
ArrivalTime = []
DestinationTime = []
Stops = []
Duration = []


flight = driver.find_elements_by_xpath("//span[@class = 'text-muted d-none d-lg-inline ']")
for i in flight:
    try:
        Flightname.append(i.text)
    except NoSuchElementException:
        Flightname.append("--")
        
Location = []

loc = driver.find_elements_by_xpath("//span[@class = 'bottom ']")
for j in loc:
    try:
        Location.append(j.text)    
    except NoSuchElementException:
        Location.append("--")
        

stop = driver.find_elements_by_xpath("//div[@class = 'bottom']")
for k in stop:
    try:
        Stops.append(k.text)
    except NoSuchElementException:
        Stops.append("--")
        

dep_time = driver.find_elements_by_xpath("//span[@class = 'departure-time base-time']")
for l in dep_time:
    try:
        ArrivalTime.append(l.text)
    except NoSuchElementException:
        ArrivalTime.append("--")
        

arr_time = driver.find_elements_by_xpath("//span[@class = 'arrival-time base-time']")
for m in arr_time:
    try:
        DestinationTime.append(m.text)
    except NoSuchElementException:
        DestinationTime.append("--")
        

dur = driver.find_elements_by_xpath("//div[@class = 'duration']")
for n in dur:
    try:
        Duration.append(n.text)
    except NoSuchElementException:
        Duration.append("--")
        

money = driver.find_elements_by_xpath("//h5[@class = 'mb-2 font-weight-bold']/span")
for o in money:
    try:
        Price.append(o.text)
    except NoSuchElementException:
        Price.append("--")

In [99]:
print(len(Price))
print(len(Flightname))
print(len(Location))
print(len(ArrivalTime))
print(len(DestinationTime))
print(len(Stops))
print(len(Duration))

558
279
558
279
279
279
279

In [100]:
df = pd.DataFrame({'Price': Price[0:558:2], 'Flight_Name': Flightname, 'Arrival_Location': Location[:558:2], 
                   'Destination_Location': Location[1:559:2], 'Arrival_time': ArrivalTime, 'Destination_time': DestinationTime,
                  'No of Stops' : Stops, 'Duration': Duration, 'DateDay': DateDay})

In [101]:
df

,Price,Flight_Name,Arrival_Location,Destination_Location,Arrival_time,Destination_time,No of Stops,Duration,DateDay
0,₹9419,Spice Jet,DEL,BLR,20:00,22:30,Non Stop,,"20 Jul, Wed"
1,₹9419,Go Air,DEL,BLR,20:30,23:25,Non Stop,02h 55m,"20 Jul, Wed"
2,₹9419,Air Asia,DEL,BLR,08:10,10:40,Non Stop,02h 30m,"20 Jul, Wed"
3,₹9419,Spice Jet,DEL,BLR,06:05,08:55,Non Stop,02h 50m,"20 Jul, Wed"
4,₹9945,Air Asia,DEL,BLR,09:35,12:25,Non Stop,02h 50m,"20 Jul, Wed"
...,...,...,...,...,...,...,...,...,...
274,₹26148,Vistara,DEL,BLR,10:25,23:10,2 Stop,36h 45m,"20 Jul, Wed"
275,₹28843,Vistara,DEL,BLR,09:50,16:20,1 Stop,06h 30m,"20 Jul, Wed"
276,₹28346,Air Asia,DEL,BLR,07:10,15:25,1 Stop,08h 15m,"20 Jul, Wed"
277,₹28346,Air Asia,DEL,BLR,05:45,15:25,1 Stop,09h 40m,"20 Jul, Wed"
278,₹32884,Vistara,DEL,BLR,18:40,15:55,1 Stop,21h 15m,"20 Jul, Wed"

In [20]:
# scrolling page to the end

SCROLL_PAUSE_TIME = 1

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [55]:
DateDay =  '21 Jul, Thu'
DateDay

'21 Jul, Thu'

In [51]:
Price = []
Flightname = []   
Arrival = []
Destination = []
ArrivalTime = []
DestinationTime = []
Stops = []
Duration = []


flight = driver.find_elements_by_xpath("//span[@class = 'text-muted d-none d-lg-inline ']")
for i in flight:
    try:
        Flightname.append(i.text)
    except NoSuchElementException:
        Flightname.append("--")
        
Location = []

loc = driver.find_elements_by_xpath("//span[@class = 'bottom ']")
for j in loc:
    try:
        Location.append(j.text)    
    except NoSuchElementException:
        Location.append("--")
        

stop = driver.find_elements_by_xpath("//div[@class = 'bottom']")
for k in stop:
    try:
        Stops.append(k.text)
    except NoSuchElementException:
        Stops.append("--")
        

dep_time = driver.find_elements_by_xpath("//span[@class = 'departure-time base-time']")
for l in dep_time:
    try:
        ArrivalTime.append(l.text)
    except NoSuchElementException:
        ArrivalTime.append("--")
        

arr_time = driver.find_elements_by_xpath("//span[@class = 'arrival-time base-time']")
for m in arr_time:
    try:
        DestinationTime.append(m.text)
    except NoSuchElementException:
        DestinationTime.append("--")
        

dur = driver.find_elements_by_xpath("//div[@class = 'duration']")
for n in dur:
    try:
        Duration.append(n.text)
    except NoSuchElementException:
        Duration.append("--")
        

money = driver.find_elements_by_xpath("//h5[@class = 'mb-2 font-weight-bold']/span")
for o in money:
    try:
        Price.append(o.text)
    except NoSuchElementException:
        Price.append("--")

In [52]:
print(len(Price))
print(len(Flightname))
print(len(Location))
print(len(ArrivalTime))
print(len(DestinationTime))
print(len(Stops))
print(len(Duration))

526
263
526
263
263
263
263

In [56]:
df2 = pd.DataFrame({'Price': Price[0:526:2], 'Flight_Name': Flightname, 'Arrival_Location': Location[:526:2], 
                   'Destination_Location': Location[1:527:2], 'Arrival_time': ArrivalTime, 'Destination_time': DestinationTime,
                  'No of Stops' : Stops, 'Duration': Duration, 'DateDay': DateDay})

In [57]:
df2

,Price,Flight_Name,Arrival_Location,Destination_Location,Arrival_time,Destination_time,No of Stops,Duration,DateDay
0,₹9419,Go Air,DEL,BLR,14:55,21:15,1 Stop,06h 20m,"21 Jul, Thu"
1,₹9419,Go Air,DEL,BLR,14:55,00:20,1 Stop,09h 25m,"21 Jul, Thu"
2,₹9419,Go Air,DEL,BLR,09:25,21:15,1 Stop,11h 50m,"21 Jul, Thu"
3,₹9419,Go Air,DEL,BLR,09:25,00:20,1 Stop,14h 55m,"21 Jul, Thu"
4,₹9419,Air Asia,DEL,BLR,21:40,00:30,Non Stop,02h 50m,"21 Jul, Thu"
...,...,...,...,...,...,...,...,...,...
258,₹21180,Air India,DEL,BLR,22:00,11:10,2 Stop,13h 10m,"21 Jul, Thu"
259,₹21705,Air India,DEL,BLR,16:15,11:10,2 Stop,18h 55m,"21 Jul, Thu"
260,₹26953,Vistara,DEL,BLR,09:50,16:20,1 Stop,06h 30m,"21 Jul, Thu"
261,₹24540,Vistara,DEL,BLR,10:25,19:30,1 Stop,09h 05m,"21 Jul, Thu"
262,₹28260,Vistara,DEL,BLR,15:20,16:20,1 Stop,01h 00m,"21 Jul, Thu"

In [61]:
# scrolling page to the end

SCROLL_PAUSE_TIME = 1

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [62]:
DateDay =  '22 Jul, Fri'
DateDay

'22 Jul, Fri'

In [63]:
Price = []
Flightname = []   
Arrival = []
Destination = []
ArrivalTime = []
DestinationTime = []
Stops = []
Duration = []


flight = driver.find_elements_by_xpath("//span[@class = 'text-muted d-none d-lg-inline ']")
for i in flight:
    try:
        Flightname.append(i.text)
    except NoSuchElementException:
        Flightname.append("--")
        
Location = []

loc = driver.find_elements_by_xpath("//span[@class = 'bottom ']")
for j in loc:
    try:
        Location.append(j.text)    
    except NoSuchElementException:
        Location.append("--")
        

stop = driver.find_elements_by_xpath("//div[@class = 'bottom']")
for k in stop:
    try:
        Stops.append(k.text)
    except NoSuchElementException:
        Stops.append("--")
        

dep_time = driver.find_elements_by_xpath("//span[@class = 'departure-time base-time']")
for l in dep_time:
    try:
        ArrivalTime.append(l.text)
    except NoSuchElementException:
        ArrivalTime.append("--")
        

arr_time = driver.find_elements_by_xpath("//span[@class = 'arrival-time base-time']")
for m in arr_time:
    try:
        DestinationTime.append(m.text)
    except NoSuchElementException:
        DestinationTime.append("--")
        

dur = driver.find_elements_by_xpath("//div[@class = 'duration']")
for n in dur:
    try:
        Duration.append(n.text)
    except NoSuchElementException:
        Duration.append("--")
        

money = driver.find_elements_by_xpath("//h5[@class = 'mb-2 font-weight-bold']/span")
for o in money:
    try:
        Price.append(o.text)
    except NoSuchElementException:
        Price.append("--")

In [64]:
print(len(Price))
print(len(Flightname))
print(len(Location))
print(len(ArrivalTime))
print(len(DestinationTime))
print(len(Stops))
print(len(Duration))

550
275
550
275
275
275
275

In [65]:
df3 = pd.DataFrame({'Price': Price[0:550:2], 'Flight_Name': Flightname, 'Arrival_Location': Location[:550:2], 
                   'Destination_Location': Location[1:551:2], 'Arrival_time': ArrivalTime, 'Destination_time': DestinationTime,
                  'No of Stops' : Stops, 'Duration': Duration, 'DateDay': DateDay})

In [66]:
df3

,Price,Flight_Name,Arrival_Location,Destination_Location,Arrival_time,Destination_time,No of Stops,Duration,DateDay
0,₹9419,Spice Jet,DEL,BLR,06:05,08:55,Non Stop,,"22 Jul, Fri"
1,₹9943,Spice Jet,DEL,BLR,20:00,22:30,Non Stop,02h 30m,"22 Jul, Fri"
2,₹9419,Go Air,DEL,BLR,20:30,23:25,Non Stop,02h 55m,"22 Jul, Fri"
3,₹9419,Go Air,DEL,BLR,05:50,08:35,Non Stop,02h 45m,"22 Jul, Fri"
4,₹9419,Go Air,DEL,BLR,18:25,00:20,1 Stop,05h 55m,"22 Jul, Fri"
...,...,...,...,...,...,...,...,...,...
270,₹30049,Vistara,DEL,BLR,09:50,16:20,1 Stop,06h 30m,"22 Jul, Fri"
271,₹35444,Vistara,DEL,BLR,11:10,17:45,2 Stop,30h 35m,"22 Jul, Fri"
272,₹35444,Vistara,DEL,BLR,11:10,19:15,2 Stop,32h 05m,"22 Jul, Fri"
273,₹35444,Vistara,DEL,BLR,11:10,20:55,2 Stop,33h 45m,"22 Jul, Fri"
274,₹35444,Vistara,DEL,BLR,11:10,23:10,2 Stop,36h 00m,"22 Jul, Fri"

In [68]:
# scrolling page to the end

SCROLL_PAUSE_TIME = 1

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [69]:
DateDay =  '23 Jul, Sat'
DateDay

'23 Jul, Sat'

In [70]:
Price = []
Flightname = []   
Arrival = []
Destination = []
ArrivalTime = []
DestinationTime = []
Stops = []
Duration = []


flight = driver.find_elements_by_xpath("//span[@class = 'text-muted d-none d-lg-inline ']")
for i in flight:
    try:
        Flightname.append(i.text)
    except NoSuchElementException:
        Flightname.append("--")
        
Location = []

loc = driver.find_elements_by_xpath("//span[@class = 'bottom ']")
for j in loc:
    try:
        Location.append(j.text)    
    except NoSuchElementException:
        Location.append("--")
        

stop = driver.find_elements_by_xpath("//div[@class = 'bottom']")
for k in stop:
    try:
        Stops.append(k.text)
    except NoSuchElementException:
        Stops.append("--")
        

dep_time = driver.find_elements_by_xpath("//span[@class = 'departure-time base-time']")
for l in dep_time:
    try:
        ArrivalTime.append(l.text)
    except NoSuchElementException:
        ArrivalTime.append("--")
        

arr_time = driver.find_elements_by_xpath("//span[@class = 'arrival-time base-time']")
for m in arr_time:
    try:
        DestinationTime.append(m.text)
    except NoSuchElementException:
        DestinationTime.append("--")
        

dur = driver.find_elements_by_xpath("//div[@class = 'duration']")
for n in dur:
    try:
        Duration.append(n.text)
    except NoSuchElementException:
        Duration.append("--")
        

money = driver.find_elements_by_xpath("//h5[@class = 'mb-2 font-weight-bold']/span")
for o in money:
    try:
        Price.append(o.text)
    except NoSuchElementException:
        Price.append("--")

In [71]:
print(len(Price))
print(len(Flightname))
print(len(Location))
print(len(ArrivalTime))
print(len(DestinationTime))
print(len(Stops))
print(len(Duration))

558
279
558
279
279
279
279

In [72]:
df4 = pd.DataFrame({'Price': Price[0:558:2], 'Flight_Name': Flightname, 'Arrival_Location': Location[:558:2], 
                   'Destination_Location': Location[1:559:2], 'Arrival_time': ArrivalTime, 'Destination_time': DestinationTime,
                  'No of Stops' : Stops, 'Duration': Duration, 'DateDay': DateDay})

In [73]:
df4

,Price,Flight_Name,Arrival_Location,Destination_Location,Arrival_time,Destination_time,No of Stops,Duration,DateDay
0,₹9419,Spice Jet,DEL,BLR,20:00,22:30,Non Stop,,"23 Jul, Sat"
1,₹9419,Go Air,DEL,BLR,20:30,23:25,Non Stop,02h 55m,"23 Jul, Sat"
2,₹9419,Air Asia,DEL,BLR,08:10,10:40,Non Stop,02h 30m,"23 Jul, Sat"
3,₹9419,Spice Jet,DEL,BLR,06:05,08:55,Non Stop,02h 50m,"23 Jul, Sat"
4,₹9945,Air Asia,DEL,BLR,09:35,12:25,Non Stop,02h 50m,"23 Jul, Sat"
...,...,...,...,...,...,...,...,...,...
274,₹26148,Vistara,DEL,BLR,10:25,23:10,2 Stop,36h 45m,"23 Jul, Sat"
275,₹28843,Vistara,DEL,BLR,09:50,16:20,1 Stop,06h 30m,"23 Jul, Sat"
276,₹28346,Air Asia,DEL,BLR,07:10,15:25,1 Stop,08h 15m,"23 Jul, Sat"
277,₹28346,Air Asia,DEL,BLR,05:45,15:25,1 Stop,09h 40m,"23 Jul, Sat"
278,₹32884,Vistara,DEL,BLR,18:40,15:55,1 Stop,21h 15m,"23 Jul, Sat"

In [74]:
# scrolling page to the end

SCROLL_PAUSE_TIME = 1

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [75]:
DateDay =  '24 Jul, Sun'
DateDay

'24 Jul, Sun'

In [76]:
Price = []
Flightname = []   
Arrival = []
Destination = []
ArrivalTime = []
DestinationTime = []
Stops = []
Duration = []


flight = driver.find_elements_by_xpath("//span[@class = 'text-muted d-none d-lg-inline ']")
for i in flight:
    try:
        Flightname.append(i.text)
    except NoSuchElementException:
        Flightname.append("--")
        
Location = []

loc = driver.find_elements_by_xpath("//span[@class = 'bottom ']")
for j in loc:
    try:
        Location.append(j.text)    
    except NoSuchElementException:
        Location.append("--")
        

stop = driver.find_elements_by_xpath("//div[@class = 'bottom']")
for k in stop:
    try:
        Stops.append(k.text)
    except NoSuchElementException:
        Stops.append("--")
        

dep_time = driver.find_elements_by_xpath("//span[@class = 'departure-time base-time']")
for l in dep_time:
    try:
        ArrivalTime.append(l.text)
    except NoSuchElementException:
        ArrivalTime.append("--")
        

arr_time = driver.find_elements_by_xpath("//span[@class = 'arrival-time base-time']")
for m in arr_time:
    try:
        DestinationTime.append(m.text)
    except NoSuchElementException:
        DestinationTime.append("--")
        

dur = driver.find_elements_by_xpath("//div[@class = 'duration']")
for n in dur:
    try:
        Duration.append(n.text)
    except NoSuchElementException:
        Duration.append("--")
        

money = driver.find_elements_by_xpath("//h5[@class = 'mb-2 font-weight-bold']/span")
for o in money:
    try:
        Price.append(o.text)
    except NoSuchElementException:
        Price.append("--")

In [77]:
print(len(Price))
print(len(Flightname))
print(len(Location))
print(len(ArrivalTime))
print(len(DestinationTime))
print(len(Stops))
print(len(Duration))

582
291
582
291
291
291
291

In [78]:
df5 = pd.DataFrame({'Price': Price[0:582:2], 'Flight_Name': Flightname, 'Arrival_Location': Location[:582:2], 
                   'Destination_Location': Location[1:583:2], 'Arrival_time': ArrivalTime, 'Destination_time': DestinationTime,
                  'No of Stops' : Stops, 'Duration': Duration, 'DateDay': DateDay})

In [79]:
df5

,Price,Flight_Name,Arrival_Location,Destination_Location,Arrival_time,Destination_time,No of Stops,Duration,DateDay
0,₹9419,Spice Jet,DEL,BLR,06:05,08:55,Non Stop,,"24 Jul, Sun"
1,₹9419,Go Air,DEL,BLR,20:30,23:25,Non Stop,02h 55m,"24 Jul, Sun"
2,₹9419,Go Air,DEL,BLR,05:50,08:35,Non Stop,02h 45m,"24 Jul, Sun"
3,₹15193,Go Air,DEL,BLR,18:25,00:20,1 Stop,05h 55m,"24 Jul, Sun"
4,₹9419,Go Air,DEL,BLR,09:25,21:15,1 Stop,11h 50m,"24 Jul, Sun"
...,...,...,...,...,...,...,...,...,...
286,₹28688,Air India,DEL,BLR,16:50,11:10,2 Stop,18h 2m,"24 Jul, Sun"
287,₹31112,Go Air,DEL,BLR,10:50,15:05,Non Stop,04h 15m,"24 Jul, Sun"
288,₹30957,Go Air,DEL,BLR,10:50,15:05,1 Stop,04h 1m,"24 Jul, Sun"
289,₹32884,Vistara,DEL,BLR,07:10,15:55,1 Stop,08h 45m,"24 Jul, Sun"
290,₹33773,Vistara,DEL,BLR,11:10,15:55,1 Stop,04h 45m,"24 Jul, Sun"

In [80]:
# scrolling page to the end

SCROLL_PAUSE_TIME = 1

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [81]:
DateDay =  '25 Jul, Mon'
DateDay

'25 Jul, Mon'

In [82]:
Price = []
Flightname = []   
Arrival = []
Destination = []
ArrivalTime = []
DestinationTime = []
Stops = []
Duration = []


flight = driver.find_elements_by_xpath("//span[@class = 'text-muted d-none d-lg-inline ']")
for i in flight:
    try:
        Flightname.append(i.text)
    except NoSuchElementException:
        Flightname.append("--")
        
Location = []

loc = driver.find_elements_by_xpath("//span[@class = 'bottom ']")
for j in loc:
    try:
        Location.append(j.text)    
    except NoSuchElementException:
        Location.append("--")
        

stop = driver.find_elements_by_xpath("//div[@class = 'bottom']")
for k in stop:
    try:
        Stops.append(k.text)
    except NoSuchElementException:
        Stops.append("--")
        

dep_time = driver.find_elements_by_xpath("//span[@class = 'departure-time base-time']")
for l in dep_time:
    try:
        ArrivalTime.append(l.text)
    except NoSuchElementException:
        ArrivalTime.append("--")
        

arr_time = driver.find_elements_by_xpath("//span[@class = 'arrival-time base-time']")
for m in arr_time:
    try:
        DestinationTime.append(m.text)
    except NoSuchElementException:
        DestinationTime.append("--")
        

dur = driver.find_elements_by_xpath("//div[@class = 'duration']")
for n in dur:
    try:
        Duration.append(n.text)
    except NoSuchElementException:
        Duration.append("--")
        

money = driver.find_elements_by_xpath("//h5[@class = 'mb-2 font-weight-bold']/span")
for o in money:
    try:
        Price.append(o.text)
    except NoSuchElementException:
        Price.append("--")

In [83]:
print(len(Price))
print(len(Flightname))
print(len(Location))
print(len(ArrivalTime))
print(len(DestinationTime))
print(len(Stops))
print(len(Duration))

568
284
568
284
284
284
284

In [84]:
df6 = pd.DataFrame({'Price': Price[0:568:2], 'Flight_Name': Flightname, 'Arrival_Location': Location[:568:2], 
                   'Destination_Location': Location[1:569:2], 'Arrival_time': ArrivalTime, 'Destination_time': DestinationTime,
                  'No of Stops' : Stops, 'Duration': Duration, 'DateDay': DateDay})

In [85]:
df6

,Price,Flight_Name,Arrival_Location,Destination_Location,Arrival_time,Destination_time,No of Stops,Duration,DateDay
0,₹9419,Go Air,DEL,BLR,05:50,08:35,Non Stop,02h 45m,"25 Jul, Mon"
1,₹9419,Go Air,DEL,BLR,20:30,23:25,Non Stop,02h 55m,"25 Jul, Mon"
2,₹11309,Spice Jet,DEL,BLR,20:00,22:30,Non Stop,,"25 Jul, Mon"
3,₹9419,Air Asia,DEL,BLR,08:10,10:40,Non Stop,02h 30m,"25 Jul, Mon"
4,₹9419,Spice Jet,DEL,BLR,06:05,08:55,Non Stop,02h 50m,"25 Jul, Mon"
...,...,...,...,...,...,...,...,...,...
279,₹20716,Vistara,DEL,BLR,13:20,20:55,2 Stop,07h 35m,"25 Jul, Mon"
280,₹20716,Vistara,DEL,BLR,13:20,23:10,2 Stop,09h 50m,"25 Jul, Mon"
281,₹22228,Vistara,DEL,BLR,09:50,16:20,1 Stop,06h 30m,"25 Jul, Mon"
282,₹20865,Air India,DEL,BLR,17:15,07:50,2 Stop,14h 3m,"25 Jul, Mon"
283,₹20865,Air India,DEL,BLR,17:15,11:10,2 Stop,17h 5m,"25 Jul, Mon"

In [86]:
# scrolling page to the end

SCROLL_PAUSE_TIME = 1

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [87]:
DateDay =  '26 Jul, Tue'
DateDay

'26 Jul, Tue'

In [88]:
Price = []
Flightname = []   
Arrival = []
Destination = []
ArrivalTime = []
DestinationTime = []
Stops = []
Duration = []


flight = driver.find_elements_by_xpath("//span[@class = 'text-muted d-none d-lg-inline ']")
for i in flight:
    try:
        Flightname.append(i.text)
    except NoSuchElementException:
        Flightname.append("--")
        
Location = []

loc = driver.find_elements_by_xpath("//span[@class = 'bottom ']")
for j in loc:
    try:
        Location.append(j.text)    
    except NoSuchElementException:
        Location.append("--")
        

stop = driver.find_elements_by_xpath("//div[@class = 'bottom']")
for k in stop:
    try:
        Stops.append(k.text)
    except NoSuchElementException:
        Stops.append("--")
        

dep_time = driver.find_elements_by_xpath("//span[@class = 'departure-time base-time']")
for l in dep_time:
    try:
        ArrivalTime.append(l.text)
    except NoSuchElementException:
        ArrivalTime.append("--")
        

arr_time = driver.find_elements_by_xpath("//span[@class = 'arrival-time base-time']")
for m in arr_time:
    try:
        DestinationTime.append(m.text)
    except NoSuchElementException:
        DestinationTime.append("--")
        

dur = driver.find_elements_by_xpath("//div[@class = 'duration']")
for n in dur:
    try:
        Duration.append(n.text)
    except NoSuchElementException:
        Duration.append("--")
        

money = driver.find_elements_by_xpath("//h5[@class = 'mb-2 font-weight-bold']/span")
for o in money:
    try:
        Price.append(o.text)
    except NoSuchElementException:
        Price.append("--")

In [89]:
print(len(Price))
print(len(Flightname))
print(len(Location))
print(len(ArrivalTime))
print(len(DestinationTime))
print(len(Stops))
print(len(Duration))

556
278
556
278
278
278
278

In [90]:
df7 = pd.DataFrame({'Price': Price[0:556:2], 'Flight_Name': Flightname, 'Arrival_Location': Location[:556:2], 
                   'Destination_Location': Location[1:557:2], 'Arrival_time': ArrivalTime, 'Destination_time': DestinationTime,
                  'No of Stops' : Stops, 'Duration': Duration, 'DateDay': DateDay})

In [91]:
df7

,Price,Flight_Name,Arrival_Location,Destination_Location,Arrival_time,Destination_time,No of Stops,Duration,DateDay
0,₹9419,Go Air,DEL,BLR,05:50,08:35,Non Stop,02h 45m,"26 Jul, Tue"
1,₹9419,Go Air,DEL,BLR,20:30,23:25,Non Stop,02h 55m,"26 Jul, Tue"
2,₹9418,Spice Jet,DEL,BLR,20:00,22:30,Non Stop,,"26 Jul, Tue"
3,₹9418,Spice Jet,DEL,BLR,06:05,08:55,Non Stop,02h 50m,"26 Jul, Tue"
4,₹9663,Air Asia,DEL,BLR,08:10,10:40,Non Stop,02h 30m,"26 Jul, Tue"
...,...,...,...,...,...,...,...,...,...
273,₹18555,Air India,DEL,BLR,13:20,07:50,2 Stop,18h 3m,"26 Jul, Tue"
274,₹20212,Vistara,DEL,BLR,20:35,19:15,2 Stop,22h 40m,"26 Jul, Tue"
275,₹20716,Vistara,DEL,BLR,13:20,20:55,2 Stop,07h 35m,"26 Jul, Tue"
276,₹20716,Vistara,DEL,BLR,13:20,23:10,2 Stop,09h 50m,"26 Jul, Tue"
277,₹20716,Vistara,DEL,BLR,13:20,07:50,2 Stop,18h 30m,"26 Jul, Tue"

In [114]:
df_fin = df.append(df2)

In [115]:
df_fin1 = df_fin.append(df3)
df_fin2 = df_fin1.append(df4)
df_fin3 = df_fin2.append(df5)
df_fin4 = df_fin3.append(df6)
df_fin5 = df_fin4.append(df7)

In [116]:
df_fin5

,Price,Flight_Name,Arrival_Location,Destination_Location,Arrival_time,Destination_time,No of Stops,Duration,DateDay
0,₹9419,Spice Jet,DEL,BLR,20:00,22:30,Non Stop,,"20 Jul, Wed"
1,₹9419,Go Air,DEL,BLR,20:30,23:25,Non Stop,02h 55m,"20 Jul, Wed"
2,₹9419,Air Asia,DEL,BLR,08:10,10:40,Non Stop,02h 30m,"20 Jul, Wed"
3,₹9419,Spice Jet,DEL,BLR,06:05,08:55,Non Stop,02h 50m,"20 Jul, Wed"
4,₹9945,Air Asia,DEL,BLR,09:35,12:25,Non Stop,02h 50m,"20 Jul, Wed"
...,...,...,...,...,...,...,...,...,...
273,₹18555,Air India,DEL,BLR,13:20,07:50,2 Stop,18h 3m,"26 Jul, Tue"
274,₹20212,Vistara,DEL,BLR,20:35,19:15,2 Stop,22h 40m,"26 Jul, Tue"
275,₹20716,Vistara,DEL,BLR,13:20,20:55,2 Stop,07h 35m,"26 Jul, Tue"
276,₹20716,Vistara,DEL,BLR,13:20,23:10,2 Stop,09h 50m,"26 Jul, Tue"
277,₹20716,Vistara,DEL,BLR,13:20,07:50,2 Stop,18h 30m,"26 Jul, Tue"

In [117]:
df_fin5.to_csv("Flightprice.csv", index = False)

In [122]:
df_final = pd.read_csv("Flightprice.csv")

Price                   0
Flight_Name             0
Arrival_Location        0
Destination_Location    0
Arrival_time            0
Destination_time        0
No of Stops             0
Duration                6
DateDay                 0
dtype: int64

In [124]:
df_final.isnull().sum()/len(df_final)

Price                   0.000000
Flight_Name             0.000000
Arrival_Location        0.000000
Destination_Location    0.000000
Arrival_time            0.000000
Destination_time        0.000000
No of Stops             0.000000
Duration                0.003079
DateDay                 0.000000
dtype: float64